<p class="txt-large">
  Demo Cloud Explorer: Kubernetes + Cloud Foundry + DBaaS + Functions + DevOps

</p>

<h2 id="description">
  Alterado hoje: 10/06
</h2>

<p>
  <a class="btn-download" href="#" (click)="start(2)">
    <strong>Carregar dados do Cloudant via IBM Functions!</strong>
  </a>
</p>

<div *ngIf="room.id">
  <h1>{{room.description}}</h1>
  <h2>id do registro: {{room.id}}</h2>
</div>

<p>
  <img width="200" src="http://s3.us.cloud-object-storage.appdomain.cloud/btc-icos-bucket-001/cloud_explorer.jpg" />
</p>