<p class="txt-large">
  IBM CLOUD Kubernetes + Cloud Foundry + DBaaS + Functions + DevOps

</p>

<h2 id="description">
  Hoje é 09/06/2020 15:00
</h2>

<h2 id="description">
  IBM CLOUD - OK
</h2>

<p>
  <a class="btn-download" href="#" (click)="start(2)">
    <strong>Carregar dados do Cloudant via IBM Functions!</strong>
  </a>
</p>

<div *ngIf="room.id">
  <h1>{{room.description}}</h1>
  <h2>id do registro: {{room.id}}</h2>
</div>

<p>
  <img width="200" src="https://bucket-danilo.s3.us-south.cloud-object-storage.appdomain.cloud/cloud-ibm.png" />
</p>